.task {
    margin-bottom: 8px;
  }
 .notes{
  margin-right: 20px;
 }
  .delete-button{
    background-color: blue;
    color: white;
    border: none;
    padding: 8px 16px; /* Adjust padding for better button size */
    cursor: pointer;
    border-radius: 4px; 

  }