<!-- card.component.html -->

<div class="recipe-info">
  <div *ngFor="let recipe of recipeData" class="card">
     <!-- 
    <div class="thumbnail-row">
      
      <img class="thumbnail" [src]="recipe.image" alt="{{ recipe.title }}">
    </div>-->
    <p class="food-name">Food Name: {{ recipe.title }}</p>
    <p class="instructions">Servings: {{ recipe.servings }}</p>
    <p class="ingredients">Ingredients:{{recipe.ingredients}}</p>
   
    <p class="instructions">Instructions: {{ recipe.instructions }}</p>
    
  </div>
</div>
